[user]
	email = sheng.tse@brightpattern.com
	name = tsaist1
[color]
    ui = true
[merge]
    conflictStyle = diff3
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
    defaultBranch = main
[safe]
	directory = /Users/Shared
	directory = *
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
