[user]
    email = sheng.tse@brightpattern.com
    name = tsaist1
[color]
    ui = true
[merge]
    conflictStyle = diff3
[alias]
    tree = log --graph --decorate --pretty=oneline --abbrev-commit --all
[init]
    defaultBranch = main
[core]
	autocrlf = input
